<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>

    <section class="container">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quos possimus nemo esse consequatur veritatis modi non, assumenda expedita animi adipisci, eligendi laborum dolorem impedit explicabo sed magnam exercitationem corrupti?</h1>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>
</html>